body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: url(../images/pexels-tirachard-kumtanom-733853.jpg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 10rem;
}


form {
    width: 95%;
    padding: 2rem;
}

.box{
    width: 370px;
    height: 400px;
    background: white;
    height: 50vh;
    border-radius: 2rem;
    border-style: hidden;
}

p{
    color:red;
}


 